# FOOTBALL HACKATHON

# 0.0. IMPORTS

In [10]:
import pandas                                    as pd
import seaborn                                   as sns

from matplotlib                    import pyplot as plt
from IPython.core.display          import HTML

## 0.1. Helper Functions

In [11]:
def my_settings():
    %matplotlib inline
    
    # plotly settings
    plt.style.use( 'ggplot' )
    plt.rcParams['figure.figsize'] = [25, 12]
    plt.rcParams['font.size'] = 8
 
    # notebook settings
    display(HTML('<style>.container{width:100% !important;}</style>'))
    np.set_printoptions(suppress=True)
    pd.set_option('display.float_format', '{:.2f}'.format)
    
    # seaborn settings
    sns.set(rc={'figure.figsize':(25,12)})
    sns.set_theme(style = 'darkgrid', font_scale = 1)

In [12]:
my_settings()

## 0.2. Load Dataset

In [14]:
test_dataset = pd.read_csv(r'../data/raw/test.csv')

In [27]:
test_dataset.head()

,row_id,scout_id,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,player_general_var_0,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
0,14785,16,draw,team1,7.00,4.00,4.00,0.32,0.44,0.00,...,0.27,0.19,0.31,0.63,0.41,0.31,0.11,0.45,0.30,0.33
1,15125,2,draw,team1,9.00,11.00,11.00,0.56,0.60,0.00,...,0.35,0.20,0.25,0.54,0.49,0.49,0.11,0.50,0.38,0.50
2,13095,16,loser,team2,10.00,19.00,19.00,0.20,0.30,0.00,...,0.35,0.18,0.26,0.65,0.57,0.49,0.06,0.25,0.59,0.27
3,6079,16,loser,team1,11.00,3.00,9.00,0.34,0.30,0.00,...,0.50,0.31,0.41,0.49,0.59,0.61,0.29,0.32,0.69,0.29
4,16584,11,winner,team1,5.00,4.00,4.00,0.59,0.70,0.20,...,0.40,0.19,0.04,0.84,0.69,0.52,0.09,0.44,0.48,0.44

In [16]:
train_dataset = pd.read_csv(r'../data/raw/train.csv')

In [18]:
submission_dataset = pd.read_csv(r'../data/raw/sample_submission_wBWLI0s.csv')

In [28]:
submission_dataset.head()

   row_id  rating_num
0   14785           7
1   15125           7
2   13095           7
3    6079           7
4   16584           7

#  2.0. Description Data

In [20]:
df1 = train_dataset.copy()

In [21]:
df1.head()

,row_id,scout_id,rating_num,winner,team,competitionId,player_position_1,player_position_2,player_height,player_weight,...,team2_defensive_derived_var_10,team2_offensive_derived_var_11,team2_offensive_derived_var_12,team2_offensive_derived_var_13,team2_offensive_derived_var_14,team2_defensive_derived_var_15,team2_offensive_derived_var_16,team2_defensive_derived_var_17,team2_offensive_derived_var_18,team2_offensive_derived_var_19
0,1,13,7.00,winner,team1,8,7.00,7.00,0.32,0.48,...,0.19,0.13,0.10,0.60,0.34,0.35,0.03,0.29,0.31,0.20
1,3,16,6.50,loser,team2,8,3.00,9.00,0.46,0.42,...,0.19,0.17,0.27,0.61,0.53,0.47,0.05,0.33,0.38,0.30
2,4,4,8.50,loser,team1,5,11.00,11.00,0.68,0.44,...,0.31,0.25,0.21,0.56,0.69,0.44,0.22,0.41,0.57,0.44
3,5,13,8.00,loser,team2,4,17.00,17.00,0.68,0.58,...,0.28,0.16,0.21,0.53,0.37,0.53,0.10,0.42,0.33,0.24
4,7,11,3.50,draw,team1,5,10.00,10.00,0.73,0.70,...,0.45,0.20,0.13,0.69,0.68,0.73,0.13,0.45,0.44,0.31

In [22]:
df1.columns

Index(['row_id', 'scout_id', 'rating_num', 'winner', 'team', 'competitionId',
       'player_position_1', 'player_position_2', 'player_height',
       'player_weight',
       ...
       'team2_defensive_derived_var_10', 'team2_offensive_derived_var_11',
       'team2_offensive_derived_var_12', 'team2_offensive_derived_var_13',
       'team2_offensive_derived_var_14', 'team2_defensive_derived_var_15',
       'team2_offensive_derived_var_16', 'team2_defensive_derived_var_17',
       'team2_offensive_derived_var_18', 'team2_offensive_derived_var_19'],
      dtype='object', length=800)

## 2.1. Dimensions Data

In [25]:
print('Number of rows: {}'.format(df1.shape[0]))
print('Number of columns: {}'.format(df1.shape[1]))

Number of rows: 20453
Number of columns: 800

## 2.2. Data Types

In [26]:
df1.dtypes

row_id                              int64
scout_id                            int64
rating_num                        float64
winner                             object
team                               object
                                   ...
team2_defensive_derived_var_15    float64
team2_offensive_derived_var_16    float64
team2_defensive_derived_var_17    float64
team2_offensive_derived_var_18    float64
team2_offensive_derived_var_19    float64
Length: 800, dtype: object

## 2.3. Check NA

In [31]:
df1.isna().sum()

row_id                           0.00
scout_id                         0.00
rating_num                       0.00
winner                           0.00
team                             0.00
                                 ...
team2_defensive_derived_var_15   0.00
team2_offensive_derived_var_16   0.00
team2_defensive_derived_var_17   0.00
team2_offensive_derived_var_18   0.00
team2_offensive_derived_var_19   0.00
Length: 800, dtype: float64

## 2.4. Replace NA

In [30]:
df1 = df1.dropna()

## 2.5. Changes dtypes

## 2.6. Descriptive Statistics

###  2.6.1. Numerical Attributs

### 2.6.2 Categorical Attributs

# 3.0. Variable Filtering

# 4.0. Feature Engeneering

## 4.1. Feature Creation

# 5.0. EDA (Exploratory Data Analysis)

# 6.0. Data Preparation

# 7.0. Feature Selection

# 8.0. Hyperparameter Fine-Tunning

# 9.0. Model Training

# 10. Results